

<!-- Banner -->
<section id="banner">
    <div class="inner">
        <img style="width: 30vw" src="{{base}}asset/logo_transparent_cut.png" alt="pe-logo">
        <header>

            <h1>Never be surprised again</h1>
        </header>

        <div class="flex ">

            <div>
                <span class="icon fa-medkit"></span>
                <h3>Kits</h3>
                <p>Feel at ease by having <br>everything you need at home.</p>
            </div>

            <div>
                <span class="icon fa-stethoscope"></span>
                <h3>Medical grade</h3>
                <p>Only the highest, certified quality.</p>
            </div>
            <div>
                <span class="icon fa-users"></span>
                <h3>Protect yourself <br>& your family</h3>
            </div>

        </div>

        <footer>
            <a href="#get-notified" class="button">Get Started</a>
        </footer>
    </div>
</section>

<section class="wrapper align-center">
    <div class="inner">

        <h2 id="get-notified">Be among the first to get notified</h2>
        <p>
            We are <strong>only days away</strong> from being able to deliver medical grade masks to the public and overcome the shortage!
            <br>However, we expect demand to be greater than our inventory.
            Instead of raising the prices to level demand & supply, we will deliver on a first come - first serve basis.
            <br>Members will receive <strong>ONE</strong> email with an offer as soon as they are next in line. <br>
        </p>
        <form id="notification-form">
            <div class="field half first">
                <label for="email">Email</label>
                <input name="email" id="email" type="email" required placeholder="john@example.com">
            </div>
            <div class="field half first">
                <input name="tac" id="tac" type="checkbox" required>
                <label for="tac">I accept the <a href="{{base}}terms-conditions" id="tac-link">terms & conditions</a></label>
            </div>
            <overlay-slot id="modal"></overlay-slot>
            <ul class="actions">
                <li><input value="Sign up" class="button " type="submit"></li>
            </ul>
        </form>
    </div>
</section>



<!-- Three -->
<section id="three" class="wrapper align-center" style="display: none">
    <div class="inner">
        <div class="flex flex-2">
            <article>
                <div class="image round">
                    <img src="images/pic01.jpg" alt="Pic 01" />
                </div>
                <header>
                    <h3>Lorem ipsum<br /> dolor amet nullam</h3>
                </header>
                <p>Morbi in sem quis dui placerat ornare. Pellentesquenisi<br />euismod in, pharetra a, ultricies in diam sed arcu. Cras<br />consequat  egestas augue vulputate.</p>
                <footer>
                    <a href="#" class="button">Learn More</a>
                </footer>
            </article>
            <article>
                <div class="image round">
                    <img src="images/pic02.jpg" alt="Pic 02" />
                </div>
                <header>
                    <h3>Sed feugiat<br /> tempus adipicsing</h3>
                </header>
                <p>Pellentesque fermentum dolor. Aliquam quam lectus<br />facilisis auctor, ultrices ut, elementum vulputate, nunc<br /> blandit ellenste egestagus commodo.</p>
                <footer>
                    <a href="#" class="button">Learn More</a>
                </footer>
            </article>
        </div>
    </div>
</section>



