<h1>Terms and Conditions</h1>
<h2>Privacy</h2>
<p>
    This page is currently maintained and operated by <a href="https://corpscrypt.com/legal/">corpscrypt LLC</a> and
    governed by her <a href="https://corpscrypt.com/legal/#terms">Terms and Conditions</a> and
    <a href="https://corpscrypt.com/legal/#privacy">Privacy Policy</a>.
</p>
<p>
    By visiting and using all pages of the domain <strong>pandemic-essentials.com</strong> you explicitly
    consent to your data being processed by third parties for marketing purposes.
</p>
<h2>Notice to EU Data Subjects</h2>
<p>
    Getting in touch with us includes capturing data deemed "personal data" under European law (GDPR). This includes name, phone number & email address. The purpose of capturing this data is to communicate with you.

    You may ask for your information to be deleted, accessed or have the use of them discontinued.
</p>
<h2>Notice to residence of California, USA</h2>
<p>
    Under California Civil Code Section 1789.3, California users are entitled to the following consumer rights notice:
    <br>California residents may reach the Complaint Assistance Unit of the Division of Consumer Services of the California Department of Consumer Affairs by mail at 1625 North Market Blvd., Sacramento, CA 95834, or by telephone at (916) 445-1254 or (800) 952-5210.
</p>

